<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--<section name="serverRuntime" overrideModeDefault="Allow" />-->
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
  </configSections>
  <appSettings> 
    <add key="IDApplication" value="58FBBCCF-5FD5-426B-A2E9-D386C6124BF0"/>
    <add key="LogError" value="Errores"/>
    <add key="LogEvento" value="Eventos"/>
    <add key="LogEntrada" value="Entradas"/>
    <!--Configuracion para Dll de Freezcode-->
    <add key="RecoverSettingsFrom" value="Database"/>
    <add key="LogUsing" value="Database"/>
    <!--<add key="SettingDatabase" value="Data Source=64.34.163.109;Initial Catalog=Cubos_Diconsa;User ID=sa;Password=dnu6996;Persist Security Info=False;"/>-->
    <add key="SettingDatabase" value="Data Source=64.34.163.109;Initial Catalog=Cubos;User ID=sa;Password=dnu6996;Persist Security Info=False;"/>
    <add key="ResourcePath" value="C:\FreezeCode.IceCubes.Common.dll"/>
    <add key="ApplicationId" value="{14b3cd25-42de-4b5b-864a-45039aa99479}"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <httpRuntime/>
    <!-- This httpHandlers config only required if using IIS6 (or lower) -->
    <!--
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    -->
    <!-- This httpModules config only required if using IIS6 (or lower) -->
    <!--
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    -->
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
      </controls>
      <namespaces>
        <add namespace="Ext.Net"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!--<serverRuntime uploadReadAheadSize="0" />-->
    <modules>
      <remove name="DirectRequestModule"/>
      <!--<remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>-->
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <handlers>
      <remove name="DirectRequestHandler"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>
    <!--<handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
    
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <extnet theme="Triton" licenseKey="** Ext.NET LICENSE KEY HERE **" initScriptMode="Linked"/>
</configuration>