<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Facturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
      <httpHandlers>
        <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </httpHandlers>
      <httpRuntime executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    </system.web>
    <appSettings>
      <add key="IDApplication" value="a359eeb2-4f85-49d8-b9e2-c2833f0f4d2a"/>
      <add key="LogError" value="Errores"/>
      <add key="LogEvento" value="Eventos"/>
      <add key="LogEntrada" value="Entradas"/>
    </appSettings>
    <log4net>
      <!-- Define some output appenders -->
      <appender name="EventosFacturas" type="log4net.Appender.RollingFileAppender">
        <file value="C:/logs/Facturas/Facturas_Eventos.log"/>
        <staticLogFileName value="true"/>
        <appendToFile value="true"/>
        <rollingStyle value="Date"/>
        <datePattern value="_yyyyMMdd.lo\g"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
        </layout>
      </appender>
      <appender name="ErroresFacturas" type="log4net.Appender.RollingFileAppender">
        <file value="C:/logs/Facturas/Facturas_Errores.log"/>
        <staticLogFileName value="true"/>
        <appendToFile value="true"/>
        <rollingStyle value="Date"/>
        <datePattern value="_yyyyMMdd.lo\g"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
        </layout>
      </appender>
      <appender name="EntradasFacturas" type="log4net.Appender.RollingFileAppender">
        <file value="C:/logs/Facturas/Facturas_EntradaSalida.log"/>
        <staticLogFileName value="true"/>
        <appendToFile value="true"/>
        <rollingStyle value="Date"/>
        <datePattern value="_yyyyMMdd.lo\g"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n"/>
        </layout>
      </appender>
      <!-- loggers -->
      <logger name="Eventos">
        <appender-ref ref="EventosFacturas"/>
      </logger>
      <logger name="Errores">
        <appender-ref ref="ErroresFacturas"/>
      </logger>
      <logger name="Entradas">
        <appender-ref ref="EntradasFacturas"/>
      </logger>
    </log4net>
    <applicationSettings>
      <Facturas.Properties.Settings>
        <setting name="Facturas_wsFacturacion_FactWSFront" serializeAs="String">
          <!--<value>https://www.mysuitecfdi.com/mx.com.fact.wsfront/FactWSFront.asmx</value>-->
          <value>https://www.mysuitetest.com/mx.com.fact.wsfront/FactWSFront.asmx</value>
        </setting>
      </Facturas.Properties.Settings>
    </applicationSettings>

    <system.webServer>
      <handlers>
        <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      </handlers>
      <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
  </configuration>