################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/CentralAdministrativa/Core/Apps/CentralMovil/obj
/CentralAdministrativa/Core/Apps/CentralMovil/bin
/CentralAdministrativa/Core/Apps/Cajero/obj
/CentralAdministrativa/Core/Apps/Cajero/bin
/CentralAdministrativa/Core/Apps/BovedaTarjetas/obj
/CentralAdministrativa/Core/Apps/BovedaTarjetas/bin
/CentralAdministrativa/Core/Apps/Administracion/obj
/CentralAdministrativa/Core/Apps/Administracion/bin
/CentralAdministrativa/Core/Apps/Aclaraciones/obj
/CentralAdministrativa/Core/Apps/Aclaraciones/bin
*.user
/CentralAdministrativa/Core/Apps/ComercioElectronico/obj
/CentralAdministrativa/Core/Apps/ComercioElectronico/bin
/CentralAdministrativa/Core/Apps/ClubEscala/obj
/CentralAdministrativa/Core/Apps/ClubEscala/bin
/CentralAdministrativa/Core/Apps/Certificados/obj
/CentralAdministrativa/Core/Apps/Certificados/bin
/CentralAdministrativa/Core/Apps/Facturas/obj
/CentralAdministrativa/Core/Apps/Facturas/bin
/CentralAdministrativa/Core/Apps/Empresarial/obj
/CentralAdministrativa/Core/Apps/Empresarial/bin
/CentralAdministrativa/Core/Apps/Cortador/obj
/CentralAdministrativa/Core/Apps/Cortador/bin
/CentralAdministrativa/Core/Apps/Loyalty/Properties/PublishProfiles
/CentralAdministrativa/Core/Apps/Loyalty/obj
/CentralAdministrativa/Core/Apps/Loyalty/bin
/CentralAdministrativa/Core/Apps/Lealtad/obj
/CentralAdministrativa/Core/Apps/Lealtad/bin
/CentralAdministrativa/Core/Apps/OperadoraWeb/obj
/CentralAdministrativa/Core/Apps/OperadoraWeb/bin
/CentralAdministrativa/Core/Apps/OperacionesEvertec/obj
/CentralAdministrativa/Core/Apps/OperacionesEvertec/bin
/CentralAdministrativa/Core/Apps/Monitoreo/obj/Debug
/CentralAdministrativa/Core/Apps/Monitoreo/bin
/CentralAdministrativa/Core/Apps/Usuarios/obj
/CentralAdministrativa/Core/Apps/Usuarios/bin
/CentralAdministrativa/Core/Apps/PuntoVenta/obj
/CentralAdministrativa/Core/Apps/PuntoVenta/bin
/CentralAdministrativa/Core/Apps/PreAutorizador/obj
/CentralAdministrativa/Core/Apps/PreAutorizador/bin
/packages
/CentralAdministrativa/Core/obj
/CentralAdministrativa/Core/bin
/CentralAdministrativa/Core/Apps/ValidacionesBatch/obj
/CentralAdministrativa/Core/Apps/ValidacionesBatch/bin
/Resources/Apps/DataAcces/DALBovedaTarjetas/obj
/Resources/Apps/DataAcces/DALBovedaTarjetas/bin/Debug
/Resources/Apps/DataAcces/DALAdministracion/obj
/Resources/Apps/DataAcces/DALAdministracion/bin
/Resources/Apps/DataAcces/DALAclaraciones/obj
/Resources/Apps/DataAcces/DALAclaraciones/bin/Debug
/Resources/Apps/DataAcces/DALCertificados/obj
/Resources/Apps/DataAcces/DALCertificados/bin/Debug
/Resources/Apps/DataAcces/DALCentralMovil/obj
/Resources/Apps/DataAcces/DALCentralMovil/bin/Debug
/Resources/Apps/DataAcces/DALCajero/obj
/Resources/Apps/DataAcces/DALCajero/bin/Debug
/Resources/Apps/DataAcces/DALCortador/obj
/Resources/Apps/DataAcces/DALCortador/bin
/Resources/Apps/DataAcces/DALComercioElectronico/obj
/Resources/Apps/DataAcces/DALComercioElectronico/bin/Debug
/Resources/Apps/DataAcces/DALClubEscala/obj
/Resources/Apps/DataAcces/DALClubEscala/bin/Debug
/Resources/Apps/DataAcces/DALLoyalty/obj
/Resources/Apps/DataAcces/DALLoyalty/bin
/Resources/Apps/DataAcces/DALLealtad/obj
/Resources/Apps/DataAcces/DALLealtad/bin/Debug
/Resources/Apps/DataAcces/DALEmpresarial/obj
/Resources/Apps/DataAcces/DALEmpresarial/bin/Release
/Resources/Apps/DataAcces/DALMonitoreo/obj/Debug
/Resources/Apps/DataAcces/DALPuntoVentaWeb/obj
/Resources/Apps/DataAcces/DALPuntoVentaWeb/bin
/Resources/Apps/DataAcces/DALOperadoraTAE/obj
/Resources/Apps/DataAcces/DALOperadoraTAE/bin/Debug
/Resources/Apps/DataAcces/DALOperacionesEvertec/obj
/Resources/Apps/DataAcces/DALOperacionesEvertec/bin/Debug
/Resources/Plugins/Utilerias/obj
/Resources/Plugins/Utilerias/bin
/Resources/Plugins/Autenticacion/obj
/Resources/Plugins/Autenticacion/bin/Debug
/Resources/Apps/DataAcces/DALValidacionesBatchPPF/obj
/Resources/Apps/DataAcces/DALValidacionesBatchPPF/bin/Debug
/Resources/Plugins/WebServices/obj
/Resources/Plugins/WebServices/bin
/Resources/Apps/DataAcces/DALMonitoreo/obj/Release
/CentralAdministrativa/Core/Apps/Monitoreo/obj/Release
/Resources/Apps/DataAcces/DALMonitoreo/bin
/CentralAdministrativa/Core/Apps/Administracion/Properties/PublishProfiles
/CentralAdministrativa/Core/Apps/Cortador/Properties/PublishProfiles
/CentralAdministrativa/Core/Apps/PuntoVenta/Properties/PublishProfiles/FolderProfile.pubxml
/CentralAdministrativa/Core/Apps/Empresarial/Properties/PublishProfiles/FolderProfile1.pubxml
/CentralAdministrativa/Core/Apps/Empresarial/Properties/PublishProfiles
/CentralAdministrativa/Core/Apps/Usuarios/Properties/PublishProfiles
/Resources/Plugins/Autenticacion/bin/Release/Autenticacion.dll
/Resources/Plugins/Autenticacion/bin/Release
/Resources/Testing/Executer
/Resources/Apps/DataAcces/DALBovedaTarjetas/bin/Release
/CentralAdministrativa/Core/Apps/BovedaTarjetas/Properties/PublishProfiles/FolderProfile.pubxml
*.pubxml
/CentralAdministrativa/Core/Apps/PuntoVenta/PuntoVenta.csproj.user
/CentralAdministrativa/Core/Apps/Aclaraciones/Aclaraciones.csproj.user
/CentralAdministrativa/Core/Apps/Administracion/Administracion.csproj.user
/CentralAdministrativa/Core/Apps/Cajero/Cajero.csproj.user
/CentralAdministrativa/Core/Apps/CentralMovil/CentralMovil.csproj.user
/CentralAdministrativa/Core/Apps/Certificados/Certificados.csproj.user
/CentralAdministrativa/Core/Apps/ClubEscala/ClubEscala.csproj.user
/CentralAdministrativa/Core/Apps/ComercioElectronico/ComercioElectronico.csproj.user
/CentralAdministrativa/Core/Apps/Cortador/Eventos.csproj.user
/CentralAdministrativa/Core/Apps/Empresarial/Empresarial.csproj.user
/CentralAdministrativa/Core/Apps/Facturas/Facturas.csproj.user
/CentralAdministrativa/Core/Apps/Lealtad/Lealtad.csproj.user
/CentralAdministrativa/Core/Apps/Loyalty/CentroContacto.csproj.user
/CentralAdministrativa/Core/Apps/OperacionesEvertec/OperacionesEvertec.csproj.user
/CentralAdministrativa/Core/Apps/OperadoraWeb/OperadoraWeb.csproj.user
/CentralAdministrativa/Core/Apps/PreAutorizador/PreAutorizador.csproj.user
/CentralAdministrativa/Core/Apps/Loyalty/Properties/PublishProfiles/CentroContacto.pubxml
/CentralAdministrativa/Core/Apps/Empresarial/Properties/PublishProfiles/CustomProfile.pubxml
