<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <appSettings>
    <!--<add key="IDApplication" value="96402A20-13E1-494D-896D-8F8F6F39EB47"/> -->
    <add key="IDApplication" value="F9B2BBFE-B0FB-47A9-AD83-808E11283E05"/>
    <add key="LogError" value="Errores"/>
    <add key="LogInfo" value="Info" />
    <add key="LogDebug" value="Debug" />
    <!--Azure-->
    <add key="appIdKey" value="a445fdf5-1b24-4be5-b092-b269bb63941d" />
    <add key="clientKey" value="_a6_m7x64IW6-CGgBLiOpa.p.WHFsK7v8Q" />
    <add key="urlKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" />
    <add key="AzureOn" value="true" />
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="ErroresOpsEvertec" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:/logs/OpsEvertec/%date{yyyyMMdd}/%property{ts}.OpsEvertec.error.log" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Size" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] [%property{IpAddress}] [%property{AppId}] [%property{User}] [%property{TraceId}] %m%n" />
      </layout>
    </appender>
    <appender name="InfoOpsEvertec" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:/logs/OpsEvertec/%date{yyyyMMdd}/%property{ts}.OpsEvertec.info.log" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Size"/>
      <appendToFile value="true"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] [%property{IpAddress}] [%property{AppId}] [%property{User}] [%property{TraceId}] %m%n"/>
      </layout>
    </appender>
    <appender name="DebugOpsEvertec" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:/logs/OpsEvertec/%date{yyyyMMdd}/%property{ts}.OpsEvertec.debug.log" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Size" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] [%property{IpAddress}] [%property{AppId}] [%property{User}] [%property{TraceId}] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
    </root>
    <!-- loggers -->
    <logger name="Errores">
      <appender-ref ref="ErroresOpsEvertec" />
    </logger>
    <logger name="Info">
      <appender-ref ref="InfoOpsEvertec" />
    </logger>
    <logger name="Debug">
      <appender-ref ref="DebugOpsEvertec" />
    </logger>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
  </system.web>
</configuration>
