<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_CatalogosAUTPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://64.34.163.109:8080/WS_CatalogosAutorizador/WS_CatalogosAUTService" binding="basicHttpBinding" bindingConfiguration="WS_CatalogosAUTPortBinding" contract="ws_CatalogosAut.WS_CatalogosAUT" name="WS_CatalogosAUTPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
