<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Interfases" culture="neutral" publicKeyToken="19fbb44e554115c2" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" culture="neutral" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="b9a188c8922137c6"/>
        <bindingRedirect oldVersion="3.5.0.0-3.5.0.0" newVersion="3.5.0.0" />
        <codeBase version="3.5.0.0" href="bin\Newtonsoft3_5\Newtonsoft.Json.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="6.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        <codeBase version="6.0.0.0" href="bin\Newtonsoft_6\Newtonsoft.Json.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="IDApplication" value="f6c88622-25ea-49f3-9f6f-7d28c587478f"/>
    <add key="LogError" value="Errores"/>
    <add key="LogInfo" value="Info" />
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!--Configurador-->
    <add key="PuertoSocketLog" value="48151" />
    <add key="LogConfSocket" value="PCI-QA-WS-CONFSOCKET-LOG" />
    <add key="LogSecretKey" value="PCI-QA-WS-SKEY-LOG" />
    <add key="LogIV" value="PCI-QA-WS-INIVEC-LOG" />
    <add key="_AppID" value="753138d5-a710-452f-ab85-6508e79acdc1" />
    <add key="_ClientKey" value="W6-nXkO.sQ58GPRFaYz._d-0Zq3Btqu-Mc" />
    <add key="_URLKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" />
    <add key="_EnableAzure" value="true" />
    <!--Azure-->
    <add key="appIdKey" value="a445fdf5-1b24-4be5-b092-b269bb63941d" />
    <add key="clientKey" value="_a6_m7x64IW6-CGgBLiOpa.p.WHFsK7v8Q" />
    <add key="urlKeyVault" value="https://almacendeclavesdnu.vault.azure.net/" />
    <add key="AzureOn" value="true" />
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="ErroresEmpresarial" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:/logs/Empresarial/%date{yyyyMMdd}/%property{ts}.Empresarial.error.log" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Size" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] [%property{IpAddress}] [%property{AppId}] [%property{User}] [%property{TraceId}] %m%n" />
      </layout>
    </appender>
    <appender name="InfoEmpresarial" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:/logs/Empresarial/%date{yyyyMMdd}/%property{ts}.Empresarial.info.log" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Size"/>
      <appendToFile value="true"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%level] [%property{IpAddress}] [%property{AppId}] [%property{User}] [%property{TraceId}] %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL" />
    </root>
    <!-- loggers -->
    <logger name="Errores">
      <appender-ref ref="ErroresEmpresarial" />
    </logger>
    <logger name="Info">
      <appender-ref ref="InfoEmpresarial" />
    </logger>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <compilation targetFramework="4.6.1">
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>