<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DALClubEscala.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="DALCentralAplicaciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="UploadEmpleados.aspx">
    <system.web>
      <httpRuntime maxRequestLength="524288000" executionTimeout="600"/>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="RecoverSettingsFrom" value="Database"/>
    <add key="LogUsing" value="Database"/>
    <add key="SettingDatabase" value="Data Source=64.34.163.109;Initial Catalog=Cubos;User ID=sa;Password=dnu6996;Persist Security Info=False;"/>
    <add key="SettingDatabaseCEEM" value="Data Source=64.34.163.109;Initial Catalog=CEEmpleados;User ID=sa;Password=dnu6996;Persist Security Info=False;"/>
    <add key="ResourcePath" value="C:\TFS_CodigoFuente\FreezeCode.IceCubes.Common.dll"/>
    <add key="ApplicationId" value="{C2E43435-4EC1-488b-A1AD-D017E96666B1}"/>
    <add key="IDApplication" value="C2E43435-4EC1-488b-A1AD-D017E96666B1"/>
    <add key="HtmlBienvenidaEmpleados" value="D:\CodigoFuente\CentralAdministrativa\CentralAdministrativa\Core\Apps\ClubEscala\bienvenida.html"/>
    <add key="LogError" value="Errores"/>
    <add key="LogEvento" value="Eventos"/>
    <add key="LogEntrada" value="Entradas"/>
    <add key="SMTPServer" value="mail.dnu.mx"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUser" value="conciliador"/>
    <add key="SMTPPass" value="pachuca2000"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="CajeroEscritura" connectionString="Data Source=.;Initial Catalog=Cajero;User ID=sa;Password=mate1416" />
    <add name="CajeroConsulta" connectionString="Data Source=.;Initial Catalog=Cajero;User ID=sa;Password=mate1416" />
  </connectionStrings>-->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="EventosClubEscala" type="log4net.Appender.RollingFileAppender">
      <file value="C:/logs/ClubEscala/ClubEscala_Eventos.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
      </layout>
    </appender>
    <appender name="ErroresClubEscala" type="log4net.Appender.RollingFileAppender">
      <file value="C:/logs/ClubEscala/ClubEscala_Errores.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
      </layout>
    </appender>
    <appender name="EntradasClubEscala" type="log4net.Appender.RollingFileAppender">
      <file value="C:/logs/ClubEscala/ClubEscala_EntradaSalida.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n"/>
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="Eventos">
      <appender-ref ref="EventosClubEscala"/>
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroresClubEscala"/>
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradasClubEscala"/>
    </logger>
  </log4net>
  <applicationSettings>
    <DALClubEscala.Properties.Settings>
      <setting name="DALClubEscala_ws_CEscala_WS_Administracion" serializeAs="String">
        <value>http://64.34.163.109:8080/WS_Administracion/WS_Administracion</value>
      </setting>
    </DALClubEscala.Properties.Settings>
    <DALCentralAplicaciones.Properties.Settings>
      <setting name="DALCentralAplicaciones_wsTransaction_TransactionProcess" serializeAs="String">
        <value>http://64.34.163.109:8080/WsTransaction/TransactionProcess</value>
      </setting>
    </DALCentralAplicaciones.Properties.Settings>
  </applicationSettings>
</configuration>