<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="IDApplication" value="9bef61dd-bfa3-4839-a067-dfc1f5a40cd6"/>
    <add key="LogError" value="Errores"/>
    <add key="LogEvento" value="Eventos"/>
    <add key="LogEntrada" value="Entradas"/>
    <!--Configuracion para Dll de Freezcode-->
    <add key="RecoverSettingsFrom" value="Database"/>
    <add key="LogUsing" value="Database"/>
    <add key="SettingDatabase" value="Data Source=64.34.163.109;Initial Catalog=Cubos;User ID=sa;Password=dnu6996;Persist Security Info=False;"/>
    <add key="ResourcePath" value="C:\FreezeCode.IceCubes.Common.dll"/>
    <add key="ApplicationId" value="{9bef61dd-bfa3-4839-a067-dfc1f5a40cd6}"/>
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <appender name="EventosOperadoraWeb" type="log4net.Appender.RollingFileAppender">
      <file value="C:/logs/OperadoraWeb/OperadoraWeb_Eventos.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [INFORMATIVO] %m%n"/>
      </layout>
    </appender>
    <appender name="ErroresOperadoraWeb" type="log4net.Appender.RollingFileAppender">
      <file value="C:/logs/OperadoraWeb/OperadoraWeb_Errores.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [ERROR] %m%n"/>
      </layout>
    </appender>
    <appender name="EntradasOperadoraWeb" type="log4net.Appender.RollingFileAppender">
      <file value="C:/logs/OperadoraWeb/OperadoraWeb_EntradaSalida.log"/>
      <staticLogFileName value="true"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [WEBSERVICE] %m%n"/>
      </layout>
    </appender>
    <!-- loggers -->
    <logger name="Eventos">
      <appender-ref ref="EventosOperadoraWeb"/>
    </logger>
    <logger name="Errores">
      <appender-ref ref="ErroresOperadoraWeb"/>
    </logger>
    <logger name="Entradas">
      <appender-ref ref="EntradasOperadoraWeb"/>
    </logger>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>